.lead__caption {
	margin-top: 8px;
	font-size: 10px;
	line-height: 12px;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	width: 64.63%;
}
@media screen and (max-width: 900px) {
	.lead__caption   {	
		margin-top: 12px;
		margin-left: 24px;
  }
}
@media screen and (max-width: 500px) {
	.lead__caption   {	
		margin-top: 6px;
		margin-left: 16px;
  }
}