@import url(../header/__theme/_dark/header__theme_dark.css);

.header{
    display: flex;
    width: 82%;
    border: 5px solid red;
}
.logo{
    width: 176.58px;
    height: 52px;
}
.header__lang{
    font-family: Inter;
    font-weight: normal;
    font-size: 24px;
    line-height: 23px;
    border: 5px solid red;
}
.header__lang_ru{
    text-decoration-line: underline;
    margin-right:  18px;
}