@import url(_theme/_dark/header_theme_dark.css);
.header {
	display: flex;
	width: 82.22%;
	justify-content: space-between;
	align-items: center;
	margin: 30px auto 58px;
	font-family: 'Inter', Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
}
.header__logo {
	width: 176.58px;
	background-size: cover;
}
.header__lang-box {
	display: flex;
	justify-content: space-between;
	font-weight: normal;
	width: 78px;
	margin-top: 12px;
}
.header__lang {
	margin: 0;
	color: #FFFFFF;
	text-decoration-line: none;
	font-size: 26px;
	line-height: 23px;
}
.header__lang_active {
	text-decoration-line: underline;
}
.header__lang:hover {
	transition: 0.5s linear;
	opacity: 0.5;
}