@import url(__logo/header__logo.css);
@import url(__lang-box/header__lang-box.css);
@import url(__lang/header__lang.css);

.header {
	display: flex;
	width: 82.22%;
	justify-content: space-between;
	align-items: center;
	margin: 30px auto 58px;
	font-family: 'Inter', Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
}

