.places__link-box {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 49.19%;
}
@media screen and (max-width: 900px) {
    .places__link-box{
        width: 49%;
    }
}
@media screen and (max-width: 730px) {
    .places__link-box{
        display: none;
    }
}