.page__video{
    margin: 0 auto 107px;
}
@media screen and (max-width: 1275px) {
	.page__video {
		margin: 0 auto 114px;
  }
}
@media screen and (max-width: 900px) {
	.page__video {
		margin: 0 auto 103px;
  }
}
@media screen and (max-width: 730px) {
	.page__video {
		margin: 0 auto 56px;
  }
}