.places__photo{	
width: 460px;
object-fit: contain;
object-position: top;
}
@media screen and (max-width: 1275px) {
	.places__photo {
		width:	47.41%;
	
  }
}
@media screen and (max-width: 900px) {
	.places__photo {
		width: 47.22%;
  }
}
@media screen and (max-width: 730px) {
		.places__photo {
	    margin: 0 auto;
		width: 91.47%;
  }
}
@media screen and (max-width: 500px) {
		.places__photo {
		width: 100%;
  }
}