@import url(__first-card/places__first-card.css);
@import url(__title/places__title.css);
@import url(__link-box/places__link-box.css);
@import url(__url/places__url.css);
@import url(__link/places__link.css);
@import url(__first-card/places__first-card.css);
@import url(__second-card/places__second-card.css);
@import url(__text-box/places__text-box.css);
@import url(__text/places__text.css);
.places {
	width: 68.33%;
	font-family: 'Inter', Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
}