@import url(_theme/_dark/emblem_theme_dark.css);

.emblem {
	width: 82.22%;
	margin: 82px auto 74px;
	font-family: 'Inter', Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
}
.section-title_place_emblem {
	width: 37.42%;
	font-size: 42px;
	line-height: 46px;
	margin: 70px auto 76px 0;
	text-align: start;
}
.emblem__box{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
	align-items: flex-start;
}
.emblem__card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 208px;
}
.emblem__picture {
	background-size: cover;
	margin: auto auto 0;
}
.emblem__picture_rostov{
}
.emblem__picture_tambov{
}
.emblem__name-city {
	margin: 35px auto auto;
	font-weight: 700;
	font-size: 24px;
	line-height: 26px;
	color: #CCCCCC;
	text-align: center;
}