@import url(__author/footer__author.css);
@import url(__li/footer__li.css);
@import url(__link/footer__link.css);
@import url(__menu/footer__menu.css);
@import url(__ul/footer__ul.css);
.footer {
	display: flex;
	width: 82%;
	justify-content: space-between;
	align-items: flex-end;
	font-family: 'Inter', Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
}