@import url(_revised/video__icon-play_revised.css);
.video__icon-play {
	width: 41px;
	height: 41px;
	background-size: cover;
	margin: 30px auto 93px 30px;
}
@media screen and (max-width: 1275px) {
	.video__icon-play {
		margin: 30px auto 53px 30px;
  }
}
@media screen and (max-width: 900px) {
	.video__icon-play {
		margin: 25px auto 13px 25px;
  }
}
@media screen and (max-width: 350px) {
	.video__icon-play {
		margin: 16px auto 23px 16px;
  }
}