@import url(../content/_theme/_dark/content_theme_dark.css);

.section-title { 
	font-weight: 900;
    font-size: 96px;
    line-height: 93px;
    text-align: center;
    margin: 0 auto;
}
.section-subtitle {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}
.section-title_place_lead{
    font-size: 96px;
    line-height: 93px;
    text-align: center;
    width: 782px;
    height: 184px;
    border: 1px solid red;
}
.section-subtitle_place_lead{
    width: 583px;
    height: 65px;
    font-size: 30px;
    border: 1px solid red;
    margin: 48px auto 78px;
}
.lead__pic-container{
    width: 984px;
    margin: 0 auto;
    border: 1px solid red;
}
.lead__pic{
    width: 984px;
    height: 554.13px;
    background-size: cover;
    margin-bottom: 10,87px;
    border: 1px solid red;
}
.lead__caption{
    border: 1px solid red;
    margin: 0;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    width: 636px;
    height: 10px;
}
.section-title_place_intro{
    font-size: 54px;
    line-height: 59px;
    text-align: start;
    width: 683px;
    height: 52px;
    border: 1px solid red;
    margin: 80px auto 0 15.83%;
}
.section-subtitle_place_intro{
    width: 683px;
    height: 23px;
    font-size: 24px;
    line-height: 38px;
    text-align: start;
    border: 1px solid red;
    margin: 45px auto 35px 15.83%;
}
.two-columns{
    width: 984px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    border: 1px solid red;
}
.two-columns_place_intro{
    margin-bottom: 35px;
}
.two-columns__first-column{
    border: 1px solid red;
    margin: 0;
}
.two-columns__first-column_intro{
    width: 683px;
    height: 154px;
    font-size: 14px;
    line-height: 24px;
}
.two-columns__second-column{
    width: 283px;
    height: 25px;
    font-weight: 700;
    font-size: 10px;
    line-height: 16px;
    border: 1px solid red;
    margin: 0;
}
.intro-list{
    width: 383px;
    height: 93px;
    border: 1px solid red;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    margin: 0 auto 92px 15.83%;
    list-style-type: none;
    padding: 0;
}
.photo-grid{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 16px;
    width: 1184px;
    border: 1px solid red;
    margin: 0 auto;
}
.photo-grid__element{
    width: 284px;
    height: 188px;
    background-size: cover;
    border: 1px solid red;
}
.places{
    margin: 20px auto 102px;
    border: 1px solid red;
    width: 984px;
}
.first-card{
    display: flex;
    margin: 72px 0 60px;
    border: 1px solid red;
    justify-content: space-between;
}
.section-title_place_places{
    font-size: 72px;
    line-height: 65px;
    border: 1px solid red;
    text-align: start;
    width: 457px;
    height: 133px;
    margin: 0;
}
.places__photo{
    width: 460px;
    height: 460px;
    background-size: cover;
    border: 1px solid red;
}
.first-card__link{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 1px solid red;
    width: 484px;
    height: 133px;
}
.places__url{
    margin-bottom: 16px;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.2em;
    border: 1px solid red;
    color: #AAAAAA;
}
.places__link{
    margin: 0;
    font-size: 18px;
    line-height: 30px;
    border: 1px solid red;
    color: #FFFFFF;
}
.second-card{
    display: flex;
    margin: 0;
    border: 1px solid red;
    justify-content: space-between;
}
.second-card__text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid red;
    width: 484px;
}
.places__text{
    font-size: 18px;
    line-height: 30px;
    margin: 0;
    margin-bottom: 36px;
    border: 1px solid red;
}
.places__text_second-var{
    margin: 0;
}
.video{
    width: 82.22%;
    margin: 102px auto;
    border: 1px solid red;
}
.section-title_place_video{
    font-size: 72px;
    line-height: 78px;
    border: 1px solid red;
    width: 67.57%;
}
.section-subtitle_place_video{
    font-size: 24px;
    line-height: 35px;
    margin: 48px auto 72px;
    border: 1px solid red;
    width: 54.05%;
}
.content-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    border: 1px solid red;
}
.background-container{
    width: 583px;
    height: 323px;
    border: 1px solid red;
    border-radius: 5px;
    background-size: cover;
    position: relative;
    background-image: url(/Project_root/images/video\ 1.jpg);
}
.background-container_mod_first{
    background-image: url(/Project_root/images/video\ 2.jpg);
}
.video-text{
    width: 583px;
    height: 323px;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid red;
    background-color: rgba(0, 0, 0, 0.5);
}
.video-text__icon-play{
    width: 41px;
    height: 41px;
    background-size: cover;
    margin: 30px auto 94px 30px;
    border: 1px solid red;
}
.video-text__duration{
    font-weight: 500;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.3em;
    border: 1px solid red;
    margin: 0 auto 12px 30px;
}
.section-title_place_video-text{
    font-size: 36px;
    line-height: 39px;
    margin-left: 30px;
    border: 1px solid red;
    text-align: start;
    width: 322px;
}
.section-subtitle_place_video-text{
    font-size: 14px;
    line-height: 15px;
    border: 1px solid red;
    margin: 18px auto 30px 30px;
    text-align: start;
}
.video-text:hover{
    background-color: rgba(0, 0, 0, 0.8);
}
.additional{
    width: 82.22%;
    margin: 102px auto;
    border: 1px solid red;
}
.section-title_place_additional{
    width: 67.57%;
    font-size: 72px;
    line-height: 65px;
    border: 1px solid red;

}
.section-subtitle_place_additional{
    width: 54.05%;
    font-size: 24px;
    line-height: 35px;
    border: 1px solid red;
    margin: 48px auto 72px;
}
.additional-container{
    position: relative;
    width: 284px;
    height: 330px;
    border-radius: 5px;
    background-size: cover;
    background-image: url(/Project_root/images/additional\ 1.jpg);
}
.additional-container_mod_first{
    background-image: url(/Project_root/images/additional\ 2.jpg);
}
.additional-container_mod_second{
    background-image: url(/Project_root/images/additional\ 3.jpg);
}
.additional-container_mod_third{
    background-image: url(/Project_root/images/additional\ 4.jpg);
}
.additional-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 284px;
    height: 330px;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid red;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
.additional-content:hover{
    background-color: rgba(0, 0, 0, 0.8);
}
.additional-text__heading{
    width: 248px;
    font-weight: 900;
    font-size: 27px;
    line-height: 29px;
    margin: 30px 18px 0;
}
.additional-text__text{
    width: 248px;
    font-size: 14px;
    line-height: 20px;
    margin: 0 18px 30px;
}
.comments{
    margin: 102px auto;
    border: 1px solid red;
    width: 82.22%;
}
.section-title_place_comments{
    width: 67.57%;
    font-size: 72px;
    line-height: 65px;
    border: 1px solid red;
}
.section-subtitle_place_comments{
    width: 54.05%;
    font-size: 24px;
    line-height: 35px;
    border: 1px solid red;
    margin: 48px auto 30px;
}
.comments-container{
    width: 32.26%;
    border: 1px solid red;
}
.comments-container__photo{
    width: 97px;
    height: 97px;
    border-radius: 50%;
    background-size: cover;
    margin: 0 auto 42px 0;
    border: 1px solid red;
}
.comments-container__blockquote{
    font-size: 14px;
    line-height: 24px;
    border: 1px solid red;
    margin: 0;
}
.comments-container__author{
    font-weight: 900;
    font-size: 14px;
    line-height: 24px;
    border: 1px solid red;
    margin: 24px 0 0;
}
.cover{
    width: 82.22%;
    height: 594px;
    margin: 0 auto;
    border: 1px solid red;
}
.cover-box{
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(/Project_root/images/cover.jpg);
    background-size: cover;
    border: 1px solid red;
}
.cover-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid red;
    background-color: rgba(0, 0, 0, 0.3);
}
.section-title_place_cover{
    width: 92.42%;
    font-size: 72px;
    line-height: 78px;
    margin: 274px auto auto;
    border: 1px solid red;

}
.section-subtitle_place_cover{
    width: 382px;
    font-size: 18px;
    line-height: 26px;
    margin: auto auto 48px;
    border: 1px solid red;
}
.cover-text:hover{
    background-color: rgba(0, 0, 0, 0.8);
}
.emblem{
    width: 82.22%;
    margin: 82px auto 85px;
    border: 1px solid red;
}
.section-title_place_emblem{
    width: 37.42%;
    font-size: 42px;
    line-height: 46px;
    margin: 0 auto 82px 0;
    border: 1px solid red;
    text-align: start;
}
.emblem-card{
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.emblem-card__picture{
    background-size: auto;
    border: 1px solid red;
    margin: auto auto 0;
}
.emblem-card__name-city{
    border: 1px solid red;
    margin: 35px auto auto;
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
}
.barentsburg{
    width: 82.22%;
    margin: 0 auto 160px;
    border: 1px solid red;
}
.section-title_place_barentsburg{
    width: 49.24%;
    font-size: 42px;
    line-height: 61px;
    margin: 0 auto 0 0;
    border: 1px solid red;
    text-align: start;
}
.barentsburg__coord{
    width: 49.24%;
    font-size: 42px;
    line-height: 61px;
    margin: 20px auto 48px 0;
    border: 1px solid red;
    text-align: start;
}
.barentsburg__map{
    width: 100%;
    background-size: cover;
    border: 1px solid red;
    margin: 0 auto 48px;
}
.first-card_place_barentsburg{
    width: 66.05%;
    margin: 0 auto 0 0;
    border: 1px solid red;
}
.barentsburg__text{
    width: 48.59%;
    border: 1px solid red;
    margin: 0 auto 0 0;
    font-size: 18px;
    line-height: 30px;
}
.first-card__link_second{
    width: 36.06%;  
    border: 1px solid red;
    justify-content: flex-start;
}
.barentsburg__url{
    width: 100%;
    border: 1px solid red;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.2em;
    margin: 0;
    color: #AAAAAA;
}
.barentsburg__link{
    width: 100%;
    border: 1px solid red;
    font-size: 18px;
    line-height: 30px;
    text-decoration-line: underline;
    margin: 12px 0 0 0;
    color: #FFFFFF;
}