@import url(__text/intro__text.css);
@import url(__span/intro__span.css);
@import url(__ul/intro__ul.css);
@import url(__li/intro__li.css);
.intro {
	width: 68.33%;
	font-family: 'Inter', Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
}







