.footer__menu{
	width: 56.08%;
}
@media screen and (max-width: 1275px) {
	.footer__menu {
		width: 71.55%;
  }
}
@media screen and (max-width: 900px) {
	.footer__menu {
		width: 64.4%;
  }
}
@media screen and (max-width: 730px) {
	.footer__menu {
		width: 100%;
  }
}