@import url(_place/section-title_place_lead.css);
@import url(_place/section-title_place_intro.css);
@import url(_place/section-title_place_video.css);
@import url(_place/section-title_place_comments.css);
.section-title {
	font-weight: 900;
	font-style: normal;
	text-align: center;
}