@import url(__box/lead__box.css);
@import url(__caption/lead__caption.css);
@import url(__pic/lead__pic.css);
.lead {
	width: 68.33%;
	margin: 0 auto;
	font-family: 'Inter', Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
}