.video {
	width: 82.22%;
	margin: 105px auto 109px;
	font-family: 'Inter', Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
}
.section-title_place_video {
	font-size: 72px;
	line-height: 78px;
	width: 67.57%;
}
.section-subtitle_place_video {
	font-size: 24px;
	line-height: 35px;
	margin: 32px auto 63px;
	width: 54.05%;
}
.video__link{
	color: #FFFFFF;
	text-decoration: none;
}
.video__content-box {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
}
.video__container {
	width: 583px;
	height: 323px;
	border-radius: 5px;
	background-size: cover;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../../images/video_1.jpg);
}
.video__container_obs {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../../images/video_2.jpg);
}
.video__container:hover{
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../../../images/video_1.jpg);
}
.video__container_obs:hover{
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../../../images/video_2.jpg);
}
.video__icon-play {
	width: 41px;
	height: 41px;
	background-size: cover;
	margin: 30px auto 93px 30px;
}
.video__duration {
	font-weight: 500;
	font-size: 12px;
	line-height: 13px;
	letter-spacing: 0.3em;
	margin: 0 auto 12px 30px;
}
.video__title {
	font-size: 36px;
	line-height: 39px;
	margin: 0;
	margin-left: 30px;
	text-align: start;
	width: 322px;
	font-weight: 900;
}
.video__subtitle {
	font-size: 14px;
	line-height: 15px;
	margin: 11px auto 30px 30px;
	text-align: start;
}