.header__lang-box {
	display: flex;
	justify-content: space-between;
	font-weight: normal;
	width: 78px;
	margin-top: 12px;
}
@media screen and (max-width: 500px) {
    .header__lang-box {
		width: 68px;
    }
}

@media screen and (max-width: 350px) {
    .header__lang-box {
        width: 62px;
    }
}