@import url(_theme/_dark/photo-grid_theme_dark.css);
.photo-grid {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 16px;
	width: 82.22%;
	margin: 0 auto;
}
.photo-grid__element {
	width: 284px;
	height: 188px;
	background-size: cover;
}