.content__photo-grid {
    margin: 0 auto 20px;
}
@media screen and (max-width: 1275px) {
	.content__photo-grid {
		margin: 0 auto 26px;
  }
}
@media screen and (max-width: 500px) {
	.content__photo-grid {
    margin: 0 auto 16px;
  }
}