.footer__li{
	padding-right: 3px;
	font-size: 24px;
	list-style-type: none;
}
.footer__li:hover {
	transition: 0.5s linear;
	opacity: 0.5;
}
@media screen and (max-width: 900px) {
	.footer__li {
	font-size: 16px;
	padding: 0;
  }
}
@media screen and (max-width: 500px) {
	.footer__li {
		font-size: 24px;
		padding: 0;
  }
}