.page__comments{
    margin: 0 auto 94px;
}
@media screen and (max-width: 1275px) {
	.page__comments {
		margin: 0 auto 97px;
  }
}
@media screen and (max-width: 900px) {
	.page__comments {
		margin: 0 auto 55px;
  }
}
@media screen and (max-width: 500px) {
	.page__comments {
		margin: 0 auto 6px;
  }
}